!**/.mvn/wrapper/maven-wrapper.jar
**/target/
**/spotless-index


**/logs/
**/target/

# application yaml for dev and prod
framework/**/resources/application-dev.yaml
framework/**/resources/application-prod.yaml

# file-adapter-extension default location payload
framework/example-directory/*

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
